<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/puppy.png" alt="">
  </div>
  <div class="headings">
    <h2>Puppy Hub</h2>
    <br>
    <br>
    <h5>Welcome a puppy into your home...</h5>
    <a href="/puppies" class="btn">View Puppies</a>
  </div>
</header>


<%- include('partials/footer'); -%>