<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/puppy.png" alt="">
  </div>
  <div class="headings">
    <h2>Puppy Gallery</h2>
    <br>
    <h4>Welcome a puppy into your home...</h4>
    <a href="/smoothies" class="btn">View Puppies</a>
  </div>
</header>


<%- include('partials/footer'); -%>