<%- include('partials/header'); -%>

<ul class="puppies">
  <li class="puppy">
    <img src="/puppy.png" alt="smoothie recipe icon">
    <h4>Caucasian</h4>
    <p>White, Black, Brown</p>
  </li>
  <li class="puppy">
    <img src="https://i.pinimg.com/736x/6a/df/1b/6adf1bfa602f1dc4921718bfc71714f1--german-shepherd-puppies-german-shepherds.jpg" alt="smoothie recipe icon">
    <h4>German Shepherd</h4>
    <p>Black, Brown</p>
  </li>
  <li class="puppy">
    <img src="http://www.angelcitypits.org/sites/default/files/dog/image/gniccho.jpg" alt="smoothie recipe icon">
    <h4>Pitbull</h4>
    <p>Brown, White</p>
  </li>
  <li class="puppy">
    <img src="http://www.southernanimalhealth.com.au/wp-content/uploads/2018/01/Puppy_Lab2.jpg" alt="smoothie recipe icon">
    <h4>Labrador</h4>
    <p>Snow</p>
  </li>
  <li class="puppy">
    <img src="https://media.istockphoto.com/photos/dalmatian-puppy-sitting-in-front-of-a-white-background-picture-id509038874?k=6&m=509038874&s=612x612&w=0&h=CgQln4sIN8L_FLTSOvYoxY7jrphUYKPMMo28PBgxOZk=" alt="smoothie recipe icon">
    <h4>Dalmatians</h4>
    <p>White, Black Spots</p>
  </li>
  <li class="puppy">
    <img src="https://media.istockphoto.com/photos/puppy-siberian-husky-picture-id959474934?k=6&m=959474934&s=612x612&w=0&h=yFMvTOk23X7ndY69GCMS2137qI1iefG7HP4gpg5HwyU=" alt="smoothie recipe icon">
    <h4>Husky</h4>
    <p>White, Black</p>
  </li>
  <li class="puppy">
    <img src="https://media.istockphoto.com/photos/border-collie-puppy-sitting-against-white-background-picture-id943996264?k=6&m=943996264&s=170667a&w=0&h=0trziHuoYfAqE2HV76J7IhqTVoYmJrgAJVjU34eRDCU=" alt="smoothie recipe icon">
    <h4>Collies</h4>
    <p>Black, White</p>
  </li>
  <li class="puppy">
    <img src="https://i.pinimg.com/originals/f2/c9/f4/f2c9f4ea54c467bb4f903f45b2913556.jpg" alt="smoothie recipe icon">
    <h4>Rottweiler</h4>
    <p>Black, Brown</p>
  </li>
</ul>

<%- include('partials/footer'); -%>